<div nz-row nzJustify="center" nzAlign="middle">
    <div nz-col nzSpan="24" nzJustify="center">
        <h1>Producto</h1>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24"><button (click)="mostrar()" nz-button nzType="primary">Nuevo Producto</button></div>
</div>
<hr>
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #basicTable [nzData]="producto">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Existencia</th>
                    <th>Precio de Compra</th>
                    <th>Precio de Venta</th>
                    <th>Ubicación</th>
                    <th>Proveedor</th>
                    <th>Administración</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{data.nombre}}</td>
                    <td>{{data.categoriaId}}</td>
                    <td>{{data.existencia}}</td>
                    <td>{{data.precioCompra}}</td>
                    <td>{{data.precioVenta}}</td>
                    <td>{{data.ubicacion}}</td>
                    <td>{{data.proveedorId}}</td>
                    <td>
                        <a (click)="mostrar(data)"><i nz-icon nzType="edit" nzTheme="twotone"></i></a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzPopconfirmTitle="¿Está seguro de borrar el registro?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="eliminar(data.id!)" (nzOnCancel)="cancel()" nzShape="circle" nzCancelText="No" nzOkText="Si"><i nz-icon nzType="delete"
                                nzTheme="outline"></i></a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>





<nz-modal [(nzVisible)]="visible" nzTitle="Administracion Productos" nzClosable="false">
    <ng-container *nzModalContent>
        <form nz-form nzLayout="vertical" (ngSubmit)="guardar()" [formGroup]="formProducto">
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label>Nombre</nz-form-label>
                        <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                            <input formControlName="nombre" nz-input placeholder="Escribe el nombre del producto" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label>Categoria</nz-form-label>
                        <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                            <nz-select formControlName="categoriaId">
                                <nz-option *ngFor="let item of categoria" [nzValue]="item.id" [nzLabel]="item.nombre">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label>Existencia</nz-form-label>
                        <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                            <nz-input-number formControlName="existencia" nz-input placeholder="Escribe la Existencia Inicial" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label>Precio Compra</nz-form-label>
                        <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                            <nz-input-number formControlName="precioCompra" nz-input placeholder="Escribe el precio de compra" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label>Precio Venta</nz-form-label>
                        <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                            <nz-input-number formControlName="precioVenta" nz-input placeholder="Escribe el precio de venta" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label>Ubicacion</nz-form-label>
                        <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                            <input formControlName="ubicacion" nz-input placeholder="Escribe el nombre de la Ubicación" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label>Proveedor</nz-form-label>
                        <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                            <nz-select formControlName="proveedorId">
                                <nz-option *ngFor="let item of proveedor" [nzValue]="item.id" [nzLabel]="item.nombre">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="ocultar()">Cancelar</button>
        <button nz-button nzType="primary" (click)="guardar()">Guardar</button>
    </div>
</nz-modal>